.pagination {
    padding: 1rem;
    border: .1rem solid $color-black;
    border-radius: 1rem;
    display: inline-block;
    &__item {
        font-size: 200%;
        display: inline-block;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        border: .1rem solid $color-black;
        &:not(:last-child) {
            margin-right: 2rem;
        }
        &:hover {
            color: $color-white;
            transition: all .2s;
            background-color: rgba($color-black, .7);
            cursor: pointer;
        }
        &--active {
            background-color: $color-black;
            color: $color-yellow-5;
        }
    }
}